@import "Theme";

$headerHeight: 50px;

#app {
    background-color: $mainBackgroundColor;

    .appHeader {
        display: flex;
        justify-content: space-between;
        position: fixed;
        padding: 10px;
        height: $headerHeight;
        width: 100%;
        background-color: $color5;
        z-index: 1000;

        .viewLink {
            display: inline-block;
            color: $componentTextColor;
            font-size: 24px;
            text-transform: uppercase;
            margin-right: 15px;
            opacity: 0.7;
            transition: opacity .5s;

            button {
                height: 100%;
                padding: 0;
                border: none;
                text-transform: uppercase;
                background-color: transparent;

                &:focus {
                    outline: none;
                }
            }

            &:hover {
                opacity: 1;
            }

            &.active {
                opacity: 1;
                font-size: 25px;
                font-weight: bold;
            }
        }

        .menu {
            position: absolute;
            background-color: $componentBackgroundColor;
            margin-top: 10px;
            transition: opacity .5s;

            .menuItem {
                padding: 5px 10px;
                text-decoration: none;
                line-height: 35px;
                font-size: 20px;
                display: block;
                color: $componentTextColor;

                &:hover {
                    background-color: $color5;
                }
            }

            &.hidden {
                opacity: 0;
                visibility: hidden;
            }
        }

        .time {
            line-height: $headerHeight - 20px;
            font-size: 16px;
            color: $componentTextColor;
        }
    }

    .appContainer {
        position: absolute;
        padding-top: $headerHeight;
        width: 100%;
        height: 100%;
    }

    .loading {
        position: relative;

        .icon {
            position: relative;
            color: $darkTextColor;
            text-align: center;
        }
    }
}

