@import "Theme";

.controls {
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-flow: column;

    .unitControls {
        button:focus {
            outline: none;
        }

        .unitName {
            font-size: 30px;
            text-align: center;
            margin-bottom: 5px;
        }

        .unitState {
            font-size: 28px;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 15px;

            &.Started {
                color: green;
            }

            &.Stopped {
                color: red;
            }
        }

        .unitStateControl {
            display: flex;
            justify-content: center;

            button {
                font-size: 25px;
                width: 100px;
                height: 40px;
                margin: 3px;
                text-transform: uppercase;
                transition: background-color .5s;

                &.active {
                    background-color: $componentActiveBackgroundColor;
                    font-weight: bold;
                }

                &.schedulerButton {
                    width: 40px;
                }
            }
        }

        .unitTemperatureControl {
            margin-top: 15px;
            display: flex;
            justify-content: center;

            .container {
                border: 1px solid $borderColor;
                border-radius: 3px;
                box-shadow: 2px 2px 10px 2px $color3;
                background-color: white;

                .temperatureName {
                    background-color: $componentBackgroundColor;
                    color: $componentTextColor;
                    font-size: 20px;
                    padding: 5px;
                }

                .sectionContainer {
                    padding: 15px;

                    .adjustSection {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        input {
                            font-size: 25px;
                            width: 100px;
                            height: 36px;
                            padding: 3px;
                            text-align: right;
                            margin-right: 5px;
                            border-width: 1px;

                            &::-webkit-inner-spin-button,
                            &::-webkit-outer-spin-button {
                                -webkit-appearance: none;
                                margin: 0;
                            }
                        }

                        .adjustButton {
                            font-size: 25px;
                            width: 36px;
                            height: 36px;
                            margin-right: 1px;
                        }
                    }

                    .applySection {
                        display: flex;
                        justify-content: center;
                        margin-top: 10px;

                        .applyButton {
                            font-size: 25px;
                            width: 125px;
                            height: 40px;
                            margin-left: 5px;
                            text-transform: uppercase;
                            transition: background-color .5s;

                            &.active {
                                background-color: $componentActiveBackgroundColor;
                                font-weight: bold;
                            }
                        }

                        .schedulerButton {
                            width: 40px;
                            height: 40px;
                            font-size: 20px;
                            margin-left: 1px;
                        }
                    }
                }
            }
        }

        .unitTimingControl {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 15px;

            .timingButton {
                margin-right: 1px;
                font-size: 23px;
                width: 80px;
                height: 36px;
                transition: background-color .5s;

                &.active {
                    background-color: $componentActiveBackgroundColor;
                    font-weight: bold;
                }
            }

            .remainingTime {
                font-size: 20px;
            }

            .actionButton {
                text-transform: uppercase;
                margin-left: 5px;
                font-size: 25px;
                width: 100px;
                height: 40px;
            }
        }
    }
}