@import "Theme";

* {
    box-sizing: border-box;
}

html {
    background-color: $mainBackgroundColor;
    color: $darkTextColor;
}

body {
    margin: 0;
}

input {
    border: 2px solid $borderColor;
    border-radius: 3px;
    background-color: $lightBackgroundColor;
    color: $darkTextColor;
}

button {
    border: 2px solid $borderColor;
    border-radius: 3px;
    background-color: $componentBackgroundColor;
    color: $componentTextColor;
    transition: opacity .5s;
    font-size: inherit;
    cursor: pointer;

    &:hover {
        opacity: 0.92;
    }
}

select {
    background-color: $lightBackgroundColor;
    border: 2px solid $borderColor;
    border-radius: 2px;
    font-family: $mainFont;

    &:focus {
        outline: none;
    }
}