@import "Theme";

.overview {
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-flow: column;

    .temperatures, .units {
        border: 2px solid $borderColor;
        border-radius: 3px;
        min-width: 350px;
        margin: 20px;
        box-shadow: 2px 2px 10px 2px $color3;
        background-color: white;

        .header {
            background-color: $componentBackgroundColor;
            color: $componentTextColor;
            font-size: 26px;
            padding: 5px;
        }

        .entries {
            padding: 10px 20px;
            min-height: 50px;

            .entry {
                display: flex;
                line-height: 40px;

                .name {
                    flex-grow: 1;
                    font-size: 24px;
                    margin-right: 50px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                .value {
                    text-align: right;
                    vertical-align: baseline;
                    font-size: 20px;

                    &.started {
                        color: green;
                    }

                    &.stopped {
                        color: red;
                    }
                }
            }
        }
    }
}