.schedulerPage {
    padding: 0;
    max-width: 900px;
    height: 100%;

    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-flow: column;

    .temperatureScheduler, .unitStateScheduler {
        width: 100%;
        height: 100%;

        .scheduler {
            margin-bottom: 30px;
        }

        .buttonPanel {
            padding: 5px 0 0 5px;
            display: flex;
            justify-content: flex-end;

            button {
                margin-left: 3px;
            }
        }
    }
}
