@import "Theme";

.statistics {
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-flow: column;

    .historyRange {
        display: flex;

        .range {
            display: flex;
            justify-content: space-between;
            flex-grow: 1;

            .typeSelector {
                height: 32px;

                button {
                    width: 30px;
                    height: 30px;
                    margin-right: 1px;
                    transition: background-color .3s, height .3s, font-weight .3s;

                    &:focus {
                        outline: none;
                    }

                    &.active {
                        background-color: $color5;
                        font-weight: bold;
                        height: 32px;
                    }
                }
            }

            .rangeDate {
                line-height: 32px;

                input {
                    background: none;
                    border: none;
                    font-size: 16px;
                    text-align: right;
                    cursor: pointer;

                    &:focus {
                        outline: none;
                    }


                }

                select {
                    font-size: 16px;
                    margin-left: 1px;
                }
            }
        }

        .previous, .next {
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            font-size: 30px;
            cursor: pointer;
            transition: opacity .3s;

            &:hover {
                opacity: 0.8;
            }
        }
    }

    .temperatureHistory, .unitHistory {
        position: relative;
        border: 2px solid $borderColor;
        border-radius: 3px;
        min-width: 350px;
        height: 200px;
        margin: 5px;
        background-color: white;
        transition: height .1s;
        overflow: hidden;

        .header {
            cursor: pointer;
            z-index: 1;
            height: 22px;

            .name {
                position: absolute;
                left: 50%;
                line-height: 22px;
                font-weight: bold;
                transform: translateX(-50%);
            }

            .showHideButton {
                position: absolute;
                width: 18px;
                height: 16px;
                font-size: 14px;
                text-align: center;
                right: 2px;
                top: 2px;
            }
        }

        &.hidden {
            height: 25px;
        }
    }

    .unitHistory {
        height: 120px;
        
        div[id*='unitHistory_'] {
            position: absolute;
            top: 25px;
            left: 5px;
            right: 5px;
        }
    }
}