@import "Theme";

.unlock {
    position: absolute;
    height: 100%;
    width: 100%;

    form {
        display: inline-block;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        input {
            padding: 3px;
            width: 250px;
            text-align: center;
            font-size: 22px;

            &:focus {
                outline: none;
            }
        }

        button {
            margin-left: 5px;
            padding: 3px;
            height: 100%;
            width: 100px;
            font-size: 22px;
        }
    }

    .wrongPassword {
        color: $errorColor;
        font-size: 16px;
    }
}