$color1: #EEE6AB;
$color2: #C5BC8E;
$color3: #696758;
$color4: #45484B;
$color5: #36393B;

$lightBackgroundColor: #FFFFFF;
$darkTextColor: $color5;
$errorColor: red;
$mainBackgroundColor: $color1;
$borderColor: $color5;
$componentTextColor: white;
$componentBackgroundColor: $color4;
$componentActiveBackgroundColor: $color5;
$componentBackgroundHoverColor: $color2;